# attrdict, for sqair
/home/e2crawfo/downloaded_wheels/attrdict-2.0.1-py2.py3-none-any.whl
dill
# dm-sonnet>=1.17,<2.0.0
/home/e2crawfo/downloaded_wheels/dm_sonnet-1.36-py3-none-any.whl
flake8
gym
iso8601
imageio
ipdb
ipython
matplotlib
numpy>=1.7
# orderedattrdict, for sqair
/home/e2crawfo/downloaded_wheels/orderedattrdict-1.5.1-py2.py3-none-any.whl
pandas==1.0.3
psutil
scikit-image
tabulate
tensorflow_gpu==2.3.1
# tensorflow_probability
/home/e2crawfo/downloaded_wheels/tensorflow_probability-0.6.0-py2.py3-none-any.whl